@import "../variables.scss";
* {
  margin: 0;
  padding: 0;
}
.root {
  height: 100%;
  font-weight: 300;
}
.app {
  font-family: "GT Planar";
  display: flex;
  height: 100vh;
  font-size: 1.5em;
}

.btn {
  background-color: #fff;
  width: fit-content;
  color: #000;
  font-weight: bold;
  font-size: 0.8em;
  padding: 7px 25px;
  border-radius: 50px;
  transition: 0.2s;
}

.btn:hover {
  cursor: pointer;
  color: #fff;
  background: #000;
}
